@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stat</title>
    <link href="~/Contents/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Contents/bootstrap.css" rel="stylesheet" />
</head>
<body class="jumbotron">
    
    <div style="margin-left:40%; margin-top:-30px;" >
        <span class="btn btn-info">@Html.ActionLink("Books", "Book")  </span>

        <span class="btn btn-info">@Html.ActionLink("Borrow Details", "Borrowdetails")  </span>
        <span class="btn btn-info">@Html.ActionLink("View Users", "User")  </span>
         <span class="btn btn-default">@Html.ActionLink("Update Password", "ChangePassword","User")  </span>
        <span class="btn btn-info">@Html.ActionLink("Logout", "Logout","User")  </span>
    </div>
        Number of total books in Library: @(ViewBag.tlcopy)
    
</body>
</html>
